<div (mouseover)="isHovered = true" (mouseover)="isHovered = false">
  <div>
    <input
      type="checkbox"
      name=""
      [id]="todo.id"
      [checked]="todo.isCompleted"
      (change)="changeTodoStatus()"
    />
    <label [for]="todo.id">{{ todo.content }}</label>
    <div style="display: inline; margin-left: 16px">
      <span
        [ngClass]="{ active: isHovered }"
        (click)="isEditing = true"
        [hidden]="todo.isCompleted"
        >Edit</span
      >
      <span style="margin-left: 8px" [ngClass]="{ active: isHovered }" (click)="onDelete()"
        >Close</span
      >
    </div>
  </div>

  <form *ngIf="isEditing" (keyup)="onSubmit($event)">
    <input type="text" [(ngModel)]="todo.content" name="editTodo" />
  </form>
</div>
